<div class="container-fluid">
    <table class="table table-hover">
         <thead>
             <tr>
                <!-- <th>Title</th> -->
                <th>Preview</th>
                <th>Price</th>
                <th>Index</th>
                <th>First</th>
                <th>Last</th>
                <th>Even</th>
                <th>Odd</th>
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let product of Products; let i =index; let f = first; let l = last; let e = even; let o = odd" [class.even]="e">
                 <!-- <td>{{product.title}}</td> -->
                 <td>
                     <a [href]="product.image" target="_blank">
                         <img [src]="product.image" width="100px" height="100px">
                     </a>
                 </td>
                <td><span class="bi bi-currency-dollar"></span> {{product.price}}</td>
                <td>{{i}}</td>
                <td>{{f}}</td>
                <td>{{l}}</td>
                <td>{{e}}</td>
                <td>{{o}}</td>
             </tr>
         </tbody>
    </table>
</div>