.nav
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid gray;
    width: 110px;
    padding: 5px;
    height: 600px;
    overflow: auto;
}
.nav div
{
    border: 1px solid blue;
    width: 80px;
    height: 80px;
    padding: 5px;
    margin-top: 8px;
    cursor: pointer;
}
.nav div:hover
{
    border: 2px solid blue;
}
.col-3
{
    border: 1px solid gray;
    padding: 20px;
    margin-left: -125px;
    
}