<div id="register" class="d-grid justify-content-center align-items-center">
    <div class="m-4 text-white">
        <h5>Ready to watch? Enter your email to create or restart your membership.</h5>
    </div>
    <div class="input-group">
        <div class="form-floating">
            <input type="text" placeholder="Email address" class="form-control">
            <label>Email address</label>
        </div>
        <div class="ms-2 input-group-text bg-danger">
            <button class="btn btn-danger">Get Started <span class="bi bi-chevron-right"></span></button>
        </div>
    </div>
</div>