<div id="body">
    <header>
        <div class="d-flex ">
            <div class="ms-5 text-danger">
                NETFLIX
            </div>
            <div class="me-5 d-flex">
                <div class="input-group">
                    <span class="bi bi-globe input-group-text"></span>
                    <select class="form-select">
                        <option>Language</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="ms-2">
                    <button class="btn btn-danger btn-sm">Sing up</button>
                </div>
            </div>
        </div>
    </header>
    <section>
        <main>
            <app-netflix-main></app-netflix-main>
            <app-netflix-register></app-netflix-register>
        </main>
    </section>
</div>